# OS
.DS_Store
Thumbs.db


# IDE
.idea/
.vscode/
*.swp


# Logs
*.log
logs/


# Docker artifacts
docker-data/
docker-volumes/
docker-compose.override.yml


# Temporary files
tmp/


# Node
node_modules/


# Python
venv/


# Laravel
vendor/
storage/